<!DOCTYPE html>
<html>
<head>
    <title>Zoom Recordings Downloader</title>
</head>
<body>
    <h1>Zoom Recordings Downloader</h1>
    <form action="/configure" method="post">
        <label for="zoom_api_key">Zoom API Key:</label>
        <input type="text" id="zoom_api_key" name="zoom_api_key"><br><br>
        <label for="zoom_api_secret">Zoom API Secret:</label>
        <input type="text" id="zoom_api_secret" name="zoom_api_secret"><br><br>
        <label for="zoom_jwt_token">Zoom JWT Token:</label>
        <input type="text" id="zoom_jwt_token" name="zoom_jwt_token"><br><br>
        <input type="submit" value="Configure">
    </form>
</body>
</html>
